---
---

<div class="border-1 border p-4 shadow">
  <div class="text-large font-bold">API Key Required</div>
  <div class="">The Ultravox API requires an API key. See <a href="../auth">Authentication</a> for details.</div>
</div>
