---
interface Props {
  title: string;
  text: string;
  link?: {
    url: string;
    text: string;
  };
}

const { title, text, link } = Astro.props;
---

<div class="border-1 border p-4 shadow">
  <div class="text-large font-bold">{title}</div>
  <div class="">
    {text}
    {link && <a href={link.url}>{link.text}</a>}
  </div>
</div>